[Unit]
Description=Service Manager
After=start-binder.service
Requires=start-binder.service

[Service]
Environment="LD_LIBRARY_PATH=/usr/lib/mw"
ExecStart=/usr/bin/mw/servicemanagerrdk
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target

