[Unit]
Description=Run custom services and setup binder
After=xfce4.target network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setup-binderrdk.sh
RemainAfterExit=yes
StandardOutput=file:/var/log/binder-setup.log
StandardError=inherit

[Install]
WantedBy=multi-user.target

