[Unit]
Description=NTP Metrics collector

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/bin/ntpmetrics_poll --csv >> /tmp/ntp-metrics.csv'

[Install]
WantedBy=multi-user.target
