
[Unit]
Description=Primary target for showing UI
Documentation=man:systemd.special(7)
Requires=slices.target
Before=multi-user.target
After=slices.target
