[Unit]
Description=Cleans up browser cache

After=local-fs.target nvram.service
Before=swupdate.service wpeframework.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=-/bin/sh -c '/lib/rdk/clearWebkitBrowserCache.sh'

[Install]
WantedBy=multi-user.target
