[Unit]
Description=Thunder Hang Detection and Recovery
After=wpeframework.service
Requires=wpeframework.service

[Service]
ExecStartPre=/bin/sh -c 'mkdir -p /opt/thunderHangDetector'
ExecStart=/usr/bin/thunderHangRecovery
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
