[Unit]
Description=Thunder Hang Detection and Recovery
After=wpeframework.service
Requires=wpeframework.service

[Service]
ExecStartPre=/bin/rm -rf /opt/thunderHangDetector
ExecStartPre=/bin/mkdir -p /opt/thunderHangRecovery
ExecStart=/usr/bin/thunderHangRecovery
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
