[Unit]
Description=Boot version loader for RDK
After=ecfs-init.service
Wants=ecfs-init.service
RequiresMountsFor=/opt/secure

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'if [ -f /lib/rdk/bootversion-loader.sh ]; then exec /lib/rdk/bootversion-loader.sh; else exit 0; fi'
ExecStartPost=/bin/sh -c 'if [ -f /lib/rdk/boot_FSR.sh ]; then exec /lib/rdk/boot_FSR.sh; else exit 0; fi'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
